@import "src/styles/mixins";

::ng-deep {

app-view {
	flex: 1;
	background: red;

  .status {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--pad-xl) var(--pad-md);

	.loading {
	  display: block;
	  padding: var(--pad-xl) 0;
	}

	.success {
	  width: 100%;
	  text-align: center;
	  color: $color-success;
	  font-weight: bold;
	}

	.error {
	  width: 100%;
	  text-align: center;
	  color: $color-warn;
	}
  }

}

}