@import "src/styles/mixins";

#area-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

::ng-deep {
    .jqx-window {
        opacity: .8;
    }
}


body,html { margin: 0px; padding: 0px; overflow: hidden; font-family: "Hasklig"; }
a, button, img, button:active { outline: 0 !important; }
ul { margin: 0px; padding: 0px; list-style: none; }
a:hover { text-decoration: none; }

.nav.navbar-right li { display: block; margin-left: 7px; }
.nav.navbar-right li:last-child { margin-left: 12px; }
.nav.navbar-right li input { display:block; width: 120px; padding: 3px; height: 25px; margin-top: 12px; }
body .navbar .navbar-brand { font-family: "Hasklig"; font-size: 2.1em; }
.page-header h1 { font-family: "Hasklig"; font-size: 7.2em; text-shadow: 2px 2px 15px #001; }


#home { margin-top: 80px; }

.modal-title {font-size: 1.5em;  font-weight: 600;}

.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}

#area-canvas { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 0; background: #6a6a7a; }

#status-update { display: block; opacity: 0; position: absolute; z-index: 10001; bottom: 20px; right: 20px; background: #9C8B5A; color: #fff; font-weight: bold; padding: 2px 7px; }


#editor-options { display: block; cursor: pointer; position: absolute; top:60px; right: 20px; width: auto; height: auto; overflow: visible; z-index: 99; background: #88a; }
#editor-options .dropdown-toggle { padding: 5px; }
#editor-options .dropdown-menu { left: auto; right: -2px; }


#area-editor #area-info { display: block; position: absolute; z-index: 10; top: 110px; right: 10px; text-align: right; height: 25px; width: 200px; color: white; }
#area-editor #area-info { padding: 2px;}
#area-editor #area-info span { float: right; }
#area-editor #area-info .read-label { display: block; float: right; margin-left: 5px; }



#room-properties { position: absolute; z-index: 10; bottom: 0px; left: 320px; height: 290px; min-height: 100px; width: 100%; border-top: 2px solid #aaa; }
#room-properties .form-group { display: block;margin-top: 20px; margin-bottom: 10px; }
#room-properties .form-group .control-label { width: 160px; text-align: right; padding-right: 0px; }
#room-properties .form-group input, #room-properties .form-group textarea { max-width: 90%; padding: 3px; }
#room-properties .form-group input { height: 25px; }

#room-properties tbody td.aliases { max-width: 30%; min-width: 20%; float: left; }
#room-properties tbody td.aliases input { min-width: 100%; }
#room-properties tbody td.longDescr { display:block; min-width: 50%; max-width: 65%; float: left; }
#room-properties tbody td.longDescr textarea { min-width: 100%;  min-height: 70px; }
#room-properties tbody td.edit { float: left; }

#new-area-options { display: block; position: absolute; z-index: 999; padding: 20px; border: 1px solid #ddf; text-align: center; }


/* bootstrap overrides */
.navbar { height: 38px; }

.nav.nav-tabs li a { padding: 3px 5px; cursor: pointer; }

table { font-size: .8em; }
.table>thead>tr>th { padding: 3px 5px; }
.table>tbody>tr>td { padding: 5px; }

.btn-sm { font-size: 1em; padding: 3px 5px; }