@import "src/styles/mixins";

@font-face { font-family: "Benegraphic"; src: url('/css/benegraphic.ttf'); } 

body,html { margin: 0px; padding: 0px; overflow: hidden; }
a, button, img, button:active { outline: 0 !important; }
ul { margin: 0px; padding: 0px; list-style: none; }
a:hover { text-decoration: none; }

.nav.navbar-right li { display: block; margin-left: 7px; }
.nav.navbar-right li:last-child { margin-left: 12px; }
.nav.navbar-right li input { display:block; width: 120px; padding: 3px; height: 25px; margin-top: 12px; }
body .navbar .navbar-brand { font-family: "Benegraphic"; font-size: 2.1em; }
.page-header h1 { font-family: "Benegraphic"; font-size: 7.2em; text-shadow: 2px 2px 15px #001; }

.panel { display: block; margin-bottom: 0px; background: #535663; overflow: hidden; }
.panel .title { display: block; width: 100%; color: #113; text-shadow: inset -1px -1px 1px #fff; height: 26px; padding: 4px 5px 5px 5px; font-weight: bold;
background: #aeb5bf; /* Old browsers */
background: -moz-linear-gradient(top, #aeb5bf 0%, #828c95 36%, #576370 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aeb5bf), color-stop(36%,#828c95), color-stop(100%,#576370)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #aeb5bf 0%,#828c95 36%,#576370 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #aeb5bf 0%,#828c95 36%,#576370 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #aeb5bf 0%,#828c95 36%,#576370 100%); /* IE10+ */
background: linear-gradient(to bottom, #aeb5bf 0%,#828c95 36%,#576370 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb5bf', endColorstr='#576370',GradientType=0 ); /* IE6-9 */
}

#home { margin-top: 80px; }

.modal-title {font-size: 1.5em;  font-weight: 600;}

.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}

#area-canvas { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 0; background: #6a6a7a; }

#status-update { display: block; opacity: 0; position: absolute; z-index: 10001; bottom: 20px; right: 20px; background: #9C8B5A; color: #fff; font-weight: bold; padding: 2px 7px; }

#editor-options { display: block; cursor: pointer; position: absolute; top:60px; right: 20px; width: auto; height: auto; overflow: visible; z-index: 99; background: #88a; }
#editor-options .dropdown-toggle { padding: 5px; }
#editor-options .dropdown-menu { left: auto; right: -2px; }

#area-editor #area-info { display: block; position: absolute; z-index: 10; top: 110px; right: 10px; text-align: right; height: 25px; width: 200px; color: white; }
#area-editor #area-info { padding: 2px;}
#area-editor #area-info span { float: right; }
#area-editor #area-info .read-label { display: block; float: right; margin-left: 5px; }


#rooms-panel { position: absolute; z-index: 2; top: 50px; left: 0px; min-width: 320px; height: 100%; border-right: 2px solid #aaa; }
#rooms-panel tr.selected td { background: #a84 !important; }
#rooms-panel tr:hover { cursor: pointer; }
#rooms-panel tr .roomId { }
#rooms-panel tr .roomShort { max-height: 1em; overflow: hidden; }
#rooms-panel tr .roomLong { max-height: 100px; overflow: hidden; display: block; max-width: 100%; }


#room-properties { position: absolute; z-index: 10; bottom: 0px; left: 320px; height: 290px; min-height: 100px; width: 100%; border-top: 2px solid #aaa; }
#room-properties .form-group { display: block;margin-top: 20px; margin-bottom: 10px; }
#room-properties .form-group .control-label { width: 160px; text-align: right; padding-right: 0px; }
#room-properties .form-group input, #room-properties .form-group textarea { max-width: 90%; padding: 3px; }
#room-properties .form-group input { height: 25px; }

#room-properties tbody td.aliases { max-width: 30%; min-width: 20%; float: left; }
#room-properties tbody td.aliases input { min-width: 100%; }
#room-properties tbody td.longDescr { display:block; min-width: 50%; max-width: 65%; float: left; }
#room-properties tbody td.longDescr textarea { min-width: 100%;  min-height: 70px; }
#room-properties tbody td.edit { float: left; }

#new-area-options { display: block; position: absolute; z-index: 999; padding: 20px; border: 1px solid #ddf; text-align: center; }


/* bootstrap overrides */
.navbar { height: 38px; }

.nav.nav-tabs li a { padding: 3px 5px; cursor: pointer; }

table { font-size: .8em; }
.table>thead>tr>th { padding: 3px 5px; }
.table>tbody>tr>td { padding: 5px; }

.btn-sm { font-size: 1em; padding: 3px 5px; }