@import "src/styles/mixins";

#login {
  .inner {
	@include flexcol();
	align-items: center;
	width: 100%;
	padding: 0 var(--pad-lg);

	.form {
	  min-width: 20em;
	  max-width: 100em;

	  @include mobile() {
		width: 100%;
		max-width: 100%;
		justify-content: center;
		text-align: center;
	  }
	}
  }
}
