@import "./mixins";

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  font-family: var(--font-default);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;

  app-root {
    flex: 1;
    height: 100%;
    @include flexcol-fill();
  }

}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  @include flexcol-fill();
  flex: 1;
  height: 100%;

  > ng-component {
    @include flexcol-fill();

  > [view] {
      flex: 1;
      max-width: 100vw;
      background: $color-view-bg;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f9fa+0,f1f3f5+100 */
      background: #f7f9fa; /* Old browsers */
      background: -moz-linear-gradient(top, #f7f9fa 0%, #f1f3f5 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #f7f9fa 0%, #f1f3f5 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
                      to bottom,
                      #f7f9fa 0%,
                      #f1f3f5 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fa', endColorstr='#f1f3f5', GradientType=0); /* IE6-9 */

      &.fill {
        min-width: 100%;
        flex: 1 0 100%;
      }

      &.no-header {
        padding-top: 0;
      }
    }

  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
